@page "/users"
@using SharedLibrary.Domain.Entities
@using SharedLibrary.DTOs.Responses
@using WA.ApiClients
@inject IUserApi UserApi

<h3>Users</h3>

<button @onclick="LoadUsers">Load users</button>

<ul>
    @foreach (var u in _users)
    {
        <li>@u.Name (@u.Id)</li>
    }
</ul>

@code {
    private IReadOnlyList<UserResponse> _users = [];

    private async Task LoadUsers()
    {
        _users = await UserApi.GetUsersAsync();
    }
}