<MudAppBar Color="Color.Default"
           Elevation="1"
           Style="background-color: var(--mud-palette-appbar-background); color: white; height:110px; justify-content:center;">

    <div style="display:flex; align-items:center; padding-left:16px;">
        <a href="/" style="display:flex; align-items:center;">
            <img src="images/logo.png" alt="App Logo" style="height:90px; width:auto; padding-top:10px; padding-bottom:10px;" />
        </a>
    </div>

    <MudSpacer />

    <MudButton Class="nav-button"
               Variant="Variant.Filled"
               Color="Color.Primary"
               Href="/"
               Match="NavLinkMatch.All">
        Home
    </MudButton>

    <MudButton Class="nav-button"
               Variant="Variant.Filled"
               Color="Color.Primary"
               Href="/admin/">
        Dashboard
    </MudButton>

    <MudButton Class="nav-button"
               Variant="Variant.Filled"
               Color="Color.Primary"
               Href="/admin/movies">
        Movie Management
    </MudButton>

</MudAppBar>